*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background: #1d1d1df1;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    color: #8e7dea;
    position: fixed;
    font-size: 26px;
    z-index: 999;
    border-bottom: 5px solid;
    border-color: #8e7dea;
}

div.header-barber{
    display: flex;
    height: 50px;
    padding: 0 0 0 3em;
    background: #fff;
}

div.header-barber b{
    align-items: center;
    display: flex;
}

div.component-header{
    position: relative;
    top: 60px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 2em;
    font-family: 'Varela Round', sans-serif;
}

div.component-info{
}

/* information on website Index*/

div.info{
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 1rem;
    text-align: center;
    padding: 3em 0 1em 0;
}

div.info div.title-website{
    margin-bottom: 1.4em;
}
div.info div.title-website h1{
    font-size: 1.6em;
    color: #fff;
    text-align: center;
}
div.info div.title-website p{
    color: #8e7dea;
    font-size: 1em;
    text-align: center;
}


/*Component Main*/
main{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 2em;
}

main div.grid-menu{
    width: 620px;
    background: #fff;
    margin: 2em 0;
    padding: 0 0 1em 0;
    box-shadow: 2px 3px 8px #63636359;
}

main div.grid-menu div.component-form{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 4em 0 0 0;
    font-family: 'Roboto', sans-serif;
}

main div.grid-menu div.component-form form{
    position: relative;
    text-align: center;
}
main div.grid-menu div.component-form form label{
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 5px;
    padding: 0 5px;
    background: #fff;
    transition: all 1.2s;
}

.form-submit{
    width: 250px;
    height: 42px;
    background: #8e7dea;
    border: 1px solid #8e7dea;
    border-radius: 8px;
    color: #fff;
    margin: 2em 0 0 0;
}

.in-cmp{
    margin: 1em;
    padding: 0.8em;
    border: 3px solid #cccccc96;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.warning{
    text-align: center;
    border: 1px solid #ff000094;
    background: #ff000094;
    color: #fff;
    border-radius: 1px 7px;
}
.option{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.option-group:hover{
    background: #8e7dea;
}
.option-pais{
    margin: 0;
    padding: 0;
}
.option-pais select{
    position: absolute;
    width: 20px;
    height: 20px !important;
    top: 17px;
    left: -7px;
    border-radius: 4px;
}
.sup{
    position: relative;
    display: flex;
    justify-content: center;
}
.sup-input{
    padding: 0 5px;
}
.style-select{
    width: 185px;
    border: 2px solid #8e7dea;
    font-family: 'Roboto', sans-serif;
}

footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

footer div.footer-barber {
    border-top: 1px solid #a3a3a3;
    align-items: center;
    padding: 0 3em;
    color: #686767;
}

footer div.footer-barber h3{
    color: #8e7dea;
}

footer div.footer-barber ul{
    list-style: none;
    float: left;
    margin: 0 1em;
}
footer div.footer-barber ul li {
    margin: 0 0.7em;
    color: #686767;
    float: left;
    padding: 14px;
}

footer div.footer-barber ul li a{
    text-decoration: none;
    color: #686767;
    transition: all 0.5s;
}

footer div.footer-barber ul li a:hover{
    color:#8e7dea;
    border-bottom: 2px solid #fff;
}

body::-webkit-scrollbar              { 
    background: #8d7deaa9;
 }
body::-webkit-scrollbar-button       { /* 2 */ }
body::-webkit-scrollbar-track        { /* 3 */ }
body::-webkit-scrollbar-track-piece  { 
    background: #8e7dea;
 }
body::-webkit-scrollbar-thumb        { 
    background: #fdfdfd;
    border: 1px solid rgba(255, 255, 255, 0.747);
    border-radius:30px;
    width: 15px;
 }
body::-webkit-scrollbar-corner       { 
    background: #8e7dea;
 }
body::-webkit-resizer                { 
    background: #261296;
}